# Python Virtual Environment
.venv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*.class

# Generated PDFs & Build Outputs
output/

# Temporary outputs & big assets (optional, saves storage)
content/**/assets/*.mp4
content/**/assets/*.wav
content/**/assets/*.mp3
temp/
logs/

# Environment Variables / API Keys
.env